*{padding:0;margin:0;box-sizing:border-box;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style:italic;}

#container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    background-color:#2c3e50; /* change background color to dark blue */
}

#menu_container{
    position:relative;
    height:100%;
    width:90%;
    overflow:hidden;
}
#menu_container>img{
    width:100%;
    height:100%;
    filter:blur(5px);
    -webkit-filter:blur(5px);
}

#main_overlay{
    display:grid;
    position:absolute;
    grid-template-rows:15% auto 10%;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6); /* change background color to semi-transparent black */
}
/*menu up*/
#menu_up{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color:#34495e; /* change background color to dark gray */
    border-bottom:1px solid #bbb; /* change border color to light gray */
}
#hearts_container{
    padding:4vh 4vw;
    padding-right:0;
}
.hearts_line{
    width:100%;
    height:2vh;
    margin-bottom:5px;
}
.heart{
    display:inline-block;
    width:1.7vh;
    margin-right:4px;
}
#menu_title_container{
    display:flex;
    flex-direction:row;
}
.title_button{
    width:33.33%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.title_button_icon{
    display:inline-block;
    font-size:2.1vh;
    width:3vh;height:3vh;
    background-color:#ddd;
    font-weight:300;
    color:#333;
    text-align: center;
    border-radius:5px;
}
.title_button_text{
    color:#ddd;
    font-size:2.5vh;
    font-weight:400;
    margin-top:2px;
}
#title_center{
    width:33.33%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#title{
    color:#ddd;
    font-size:3.2vh;
    font-weight:bold;
    margin-top:2px;
}
.dots_container{
    width:fit-content;
    height:20px;
}
.dot{
    display:inline-block;
    width:4px;
    height:4px;
    background-color:#bbb; /* change dot color to light gray */
    margin:2px;
    border-radius:50%;
}
.dot.active{
    width:6px;
    height:6px;
    background-color:#ddd;
}
#rubies_container{
    padding:4vh 4vw;
}
#ruby_img{
    width:2.1vh;
    float:right;
    margin-right:4px;
}
#rubies_count{
    float:right;
    color:#ddd;
    font-size:2.7vh;
    font-weight:500;
}

/*menu center*/
#menu_center{
    display:grid;
    grid-template-columns:1fr 1fr;
}
#menu_left_side{
    display:grid;
    grid-template-rows:11vh
